/*
 * CuteDOC Stylesheet
 * 
 * Copyright: Robert "Robik" Pasiński
 */

body
{
	font-family: Verdana, Arial,Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #F4F4F4;
	font-size: 14px;
}



/*
 * Header container
 */
#header
{
	background: white url('images/header_bg.png');
	height: 90px;
	border-bottom: 1px solid silver;
}

/*
 * Inner header
 */
#header #inner
{	
	padding: 30px 4px;
	margin: 0px 50px;
	
	font-size: 1.5em;
	font-weight: 300;
	
}

/*
 * Floating container. Contains Modules and Jump to divs 
 */
#floating
{	
	position: absolute;
	top: 1%;
	right: 0;
	
	font-size: 90%;
}

/*
 * Child container. #childs is toggled
 */
#childsouter
{	
	font-size:0.85em;	
	
	border: 1px solid #C0FD66;
	border-right: 0px;
	border-left: 4px solid #C0FD66;
	
	background-color: #F7FFE6;	
	padding: 5px;
	margin: 5px 0px;
	overflow: auto;	
	
	width: 205px;	
}

#modulesouter
{	
	font-size:0.85em;	
	
	border: 1px solid orange;
	border-right: 0px;
	border-left: 4px solid orange;
	
	background-color: #FFE4A6;	
	padding: 5px;
	margin: 5px 0px;
	overflow: auto;	
	
	width: 205px;	
}

#childsouter h3, #modulesouter h3
{	
	cursor: pointer;
	font-size: 1.2em;
}

#childs
{	
	overflow:auto;
	overflow-x: hidden;	
	max-height: 37em;
	display: block;
}

#modules
{	
	overflow:auto;
	overflow-x: hidden;	
	max-height: 37em;
	display: block;
}	

/* Documentation container */
#content
{
/*
	margin: 0 auto;	
*/
	margin: 0px 20px;
	margin-right: 210px;
	padding: 7px;

	border: 1px solid gray;	
	border-top: 0px;
	
	background-color: white;
}


.code_psymbol	{ color: #000044; }
.code_string	{ color: red; }
.code_comment	{ color: gray; }


/* Title of section */
h3.section
{
	font-size: 1.06em;
	font-weight:700;
	margin: 0px;
	padding: 0px;
	
	margin-top: 11px;
}

/* Section container */
div.section
{
	border: 1px solid #CCCCCC;
	background-color: #F5F5F5;
	padding: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin-bottom: 11px;
	margin-left: 5px;
}

/* Small Section container */
div.ssection
{
	border: 1px solid #CCCCCC;
	background-color: #F5F5F5;
	padding: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin-bottom: 11px;
	margin-top: 11px;
}

/*
 * DDOC standard section container 
 */
div.stdsection
{
	margin: 12px 0px;
	
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: #F7F7F7;
	padding: 4px 8px;
}

/* D code container*/
.d_code
{
	border: 1px solid silver;
	background-color: white;
	padding: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin-bottom: 12px;
}

/* Declaration */
.decl
{
	background-color: #F3F3F3;
	border-bottom: 1px solid silver;
	font-size: 1.2em;
	font-family: georgia;
	font-weight: 300;
	padding: 2px;
	
	color: green;
}

.classdecl { color: red; }
.structdecl { color: blue; }
.aliasdecl { color: orange; }
.templatedecl { color: #004080; }

/* 
 * Childs of element
 */
.decldd
{
	border-left: 1px dashed silver;
	padding: 5px 0px 5px 18px;
	margin: 0px 0px 10px 7px;
}

h5.param
{
	padding-left: 10px;
	font-weight: 300;
}


/* Boxes */
div.warning
{
	border: 1px solid #FFE004;
	border-left: 4px solid #FFE004;
	padding: 15px;
	background-color: #FCFFC4;
	margin: 7px 4px;
}

div.critical
{
	border: 1px solid red;
	border-left: 4px solid red;
	padding: 15px;
	background-color: #FFCBC4;
	margin: 7px 4px;
}

div.examples
{
	background-color: #ECF9FF;
}

div.description
{	
	padding: 5px 3px;
}

div.summary
{
	font-size: 1.13em;
	font-style: italic;
	font-family: georgia;
	
	padding-bottom: 3px;
}


table
{
	border-collapse: collapse;
	margin: 2px;
}
table, th, td
{
	border: 1px solid silver;
}
table, th { border: 1px solid gray; }

ul
{
	margin: 1px 0px 0px 8px;
	padding: 0px 3px;	
}

li
{
	list-style: none;
	margin-bottom: 2px;
}

#childs li
{
	/*white-space: nowrap;*/	
}

li img
{
	margin-bottom: -3px;
}

h1, h2, h3
{
	margin: 0px 3px;
	padding: 2px;
}

#content h1, #content h2, #content h3, #content h4
{
	font-family: georiga, serif;
	font-weight: 300;
}

#content h1 { font-size: 1.4em; }
#content h2 { font-size: 1.3em; }
#content h3 { font-size: 1.2m; }
#content h4 { font-size: 1.1em; }

hr { color: gray; border: 0px; border-bottom: 1px solid gray; }
